<div class="mb-5 d-flex justify-content-between main-loop-card">
  <div class="pr-3">
    <h2 class="mb-1 h4 font-weight-bold">
    <a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
    </h2>
    <p class="excerpt">
      {% if post.custom_excerpt %}
        {{ post.custom_excerpt }}
      {% else %}
        {{ post.excerpt  | strip_html | strip_newlines | truncate: 186}}
      {% endif %}
    </p>
    <small class="text-muted">
      {{ post.date | date: '%b %d %Y' }}
    </small>
  </div>
</div>