<!--  Replace menu links here -->

<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/resume">Resume</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/contact">Contact</a>
</li>
<!--
<li class="nav-item">
  <span class="nav-link mentoring-link lightbox-200182808039048">Get Mentored&nbsp;&nbsp;<i class="fas fa-comments" style="color: #FA8027;"></i></span>
</li>
-->
<li class="nav-item">
  <a class="nav-link cta-open" href="https://tinyletter.com/arit" target="_blank">Join Newsletter&nbsp;&nbsp;<i class="fas fa-envelope" style="color: #FF977A;"></i></a>
</li>
