<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/contact">Contact</a>
</li>
<!-- <li class="nav-item">
  <a class="nav-link cta-open" href="#" target="_blank">Let's Talk!&nbsp;&nbsp;<i class="fas fa-comments" style="color: #FF977A;"></i></a>
</li> -->
<li class="nav-item">
  <a class="nav-link cta-open" href="https://www.getrevue.co/profile/aritdeveloper" target="_blank">Join Newsletter&nbsp;&nbsp;<i class="fas fa-envelope" style="color: #FF977A;"></i></a>
</li>
