<div class="share sticky-top sticky-top-offset hide-mobile">
  <p class="text-muted" style="font-size: 1.1rem;">Share</p>
  <ul class="list-unstyled">
    <li class="ml-1 mr-1 h4 mb-3">
      <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}">
        <i class="fab fa-twitter"></i>
      </a>
    </li>

    <li class="ml-1 mr-1 h4 mb-3">
      <a target="_blank" href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>

    <li class="ml-1 mr-1 h4 mb-3">
      <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>

  </ul>
</div>